@model Laboratory.Models.Request

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UniversityNo" class="control-label"></label>
                <input asp-for="UniversityNo" class="form-control" />
                <span asp-validation-for="UniversityNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentStatus" class="control-label"></label>
                <input asp-for="StudentStatus" class="form-control" />
                <span asp-validation-for="StudentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="College" class="control-label"></label>
                <input asp-for="College" class="form-control" />
                <span asp-validation-for="College" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstNameEn" class="control-label"></label>
                <input asp-for="FirstNameEn" class="form-control" />
                <span asp-validation-for="FirstNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherNameEn" class="control-label"></label>
                <input asp-for="FatherNameEn" class="form-control" />
                <span asp-validation-for="FatherNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrandfatherNameEn" class="control-label"></label>
                <input asp-for="GrandfatherNameEn" class="form-control" />
                <span asp-validation-for="GrandfatherNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyNameEn" class="control-label"></label>
                <input asp-for="FamilyNameEn" class="form-control" />
                <span asp-validation-for="FamilyNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstNameAr" class="control-label"></label>
                <input asp-for="FirstNameAr" class="form-control" />
                <span asp-validation-for="FirstNameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherNameAr" class="control-label"></label>
                <input asp-for="FatherNameAr" class="form-control" />
                <span asp-validation-for="FatherNameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrandfatherNameAr" class="control-label"></label>
                <input asp-for="GrandfatherNameAr" class="form-control" />
                <span asp-validation-for="GrandfatherNameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyNameAr" class="control-label"></label>
                <input asp-for="FamilyNameAr" class="form-control" />
                <span asp-validation-for="FamilyNameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MidecalfileNo" class="control-label"></label>
                <input asp-for="MidecalfileNo" class="form-control" />
                <span asp-validation-for="MidecalfileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
